* {
    font-family: "sans-serif", Montserrat;
}

a:hover{
    text-decoration: none;
}

table {
    border-collapse: collapse;
}


.fonts {
    font-size: 16px;
    font-weight: 550;
}

.color-white {
    color: white;
}

.bg-row {
    background-color: white;
}

.bg-edit {
    background-color: #2684A4;
}

.bg-educ {
    background-color: #91264c;
}

.border-educ {
    border: 1px solid #91264c;
}

.font {
    color: #91264c;
}

.table-border {
    border-color: #b35071;
}

.bg-dashboard {
    background-color: #f2f2f2;
}

.edit-button {
    background-color: #64c4b5;
    color: #1c1c1e;
}

.nav-link:hover {
    background-color: #91264c;
    color: #f2f2f2;
    border-radius: 4px;
}

.delete-button {
    background-color: #70183d;
    color: #f2f2f2;
}

.fa-circle-question {
    font-size: 20px;
}

.fa-pen-to-square,
.fa-trash {
    font-size: 1.5rem;
}

.hover-action {
    border: 1px solid #91264c;
    color: #91264c;
    font-style: center;
}

.hover-action:hover {
    background-color: #91264c;
    color: #f2f2f2;
}

.agent-meeting {
    border: 1px solid #A47786;
    color: #1c1c1e;
    background-color: transparent;
}

.agent-active {
    border: 1px solid #21468B;
    color: #1c1c1e;
    background-color: transparent;
}

.agent-offline {
    border: 1px solid #D6E2f8;
    color: #1c1c1e;
    background-color: transparent;
}

.agent-meeting:hover {
    background-color: #A47786;
    color: #f2f2f2;
}

.agent-active:hover {
    background-color: #21468B;
    color: #f2f2f2;
}

.agent-offline:hover {
    background-color: #D6E2f8;
    color: #1c1c1e;
}