* {
    font-family: "sans-serif", Montserrat;
}
table {
    border-collapse: collapse;
}
.fonts {
    font-size: 16px;
    font-weight: 550;
}
.color-white {
    color: white;
}
.bg-row {
    background-color: white;
}
.bg-educ {
    background-color: #91264c;
}
.border-educ {
    border: 1px solid #91264c;
}
.font-educ {
    color: #91264c;
}

.dashboard {
    background-color: #91264c;
    color: white;
    font-size: 1.15rem;
}
.fa-circle-question {
    font-size: 20px;
}

.fa-pen-to-square,
.fa-eye,
.fa-trash {
    font-size: 1.5rem;
}
.hover-action {
    border: 1px solid #91264c;
    color: #91264c;
    font-style: center;
}
.nav-item .nav-link{
    color: #f2f2f2;
}
.nav-item .nav-link:hover{
    color: #91264c;
    background-color: #f2f2f2;
    border: 1px solid #91264c; 
    border-radius: 14px;
}
.hover-action:hover{
    background-color: #91264c;
    color: white;
}
.agent-meeting,
.agent-active,
.agent-offline {
    width: 125px;
    display: inline-block;
    text-align: center;
}

.active {
    color: #75ce8a;
}

.offline {
    color: #E2E2E2;
}

.meeting {
    color: #91264c;
}

.agent-meeting {
    background-color: #A47786;
    color: white;
}

.agent-active {
    background-color: #A0C8A9;
    color: #1c1c1e;
}

.agent-offline {
    background-color: #E2E2E2;
    color: #1c1c1e;
}

.agent-meeting:hover {
    border: 1px solid #A47786;
    background-color: white;
    color: #1c1c1e;
}

.agent-active:hover {
    border: 1px solid #A0C8A9;
    background-color: white;
    color: #1c1c1e;
}

.agent-offline:hover {
    border: 1px solid #E2E2E2;
    background-color: white;
    color: #1c1c1e;
}

.border-dashed {
    border: 1px dashed black;
}

.file-support {
    font-size: 14px;
}

.file-info {
    width: 100px;
    text-align: center;
}

.bg-white {
    background-color: white;
}

.border-educ {
    border: 1px solid #91264c;
}

.button-educ {
    background-color: #91264c;
    color: white;
}

.button-educ:hover {
    border: 1px solid #91264c;
    background-color: white;
    color: #1c1c1e;
}

.drop-files {
    font-size: 1.25rem;
}

.file-button i {
    font-size: 1.5rem;
}

.file-button {
    display: flex;
    align-items: center;
    justify-content: center;
}

.border-educ-border {
    border-bottom: 1px solid #91264c;
}

.border-right {
    border-right: 1px solid #1c1c1e;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2);
}
.activity-button{
    font-weight: bold;
}

.active-activity-button {
    border-bottom: 3px solid #1c1c1e;
}

.custom-row {
    border-bottom: 1px solid #ddd;
    margin-bottom: 15px;
    padding-bottom: 15px;
}

.custom-row:last-child {
    border-bottom: none;
}

.row-margin-bottom {
    margin-bottom: 29px;
    padding-bottom: 25px;
}

.row-border-bottom {
    border-bottom: 1px solid #91264c;
}
.input-contact-details{
    border: none;
    background-color: #f2f2f2;
    color: #1c1c1e;
}
.modal-header {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.icon-container {
    position: absolute;
    left: 50%;
    top: 2%;
    transform: translate(-50%, -50%);
    width: 80px;
    height: 80px;
    background-color: #f0eded;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
}
.icon-container i {
    font-size: 3rem;
    color: #dc3545;
}
.modal-header .close {
    position: absolute;
    right: 0.9rem;
    top: 0.9rem;
}

.status-indicator {
    display: inline-block;
    padding: 0.5rem 1.5rem;
    border-radius: 15px;
    font-size: .8rem;
    /* color: rgb(17, 17, 17); */
    color: white;;
    text-align: center;
    font-weight: bold;
    width: 126px;
    height: 36px;
}

.position-relative {
    position: relative;
}

.filter-popup {
    display: none;
    position: absolute;
    top: 100%;
    right: 30%;
    background-color: white;
    border: 1px solid #ccc;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    padding: 10px;
    z-index: 10;
    width: 500px;
}