* {
    font-family: "sans-serif", Montserrat;
}

a:hover{
    text-decoration: none;
}

table {
    border-collapse: collapse;
}

.fonts {
    font-size: 16px;
    font-weight: 550;
}

.color-white {
    color: white;
}

.bg-row {
    background-color: white;
}

.bg-edit {
    background-color: #2684A4;
}

.bg-educ {
    background-color: #91264c;
}

.border-educ {
    border: 1px solid #91264c;
}

.font {
    color: #91264c;
}

.table-border {
    border-color: #b35071;
}

.bg-dashboard {
    background-color: #f2f2f2;
}

.edit-button {
    background-color: #64c4b5;
    color: #000000;
}

.delete-button {
    background-color: #70183d;
    color: #f2f2f2;
}

.edit-button:hover {
    background-color: #f2f2f2;
    color: #000000;
}

.delete-button:hover {
    color: #000000;
    background-color: #f2f2f2;
}